<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doctor_fish_back.repository.ChangePasswordMapper">

    <insert id="save">
        insert into change_password_tb
        values(default, #{email}, default)
    </insert>

    <update id="modifyStatusByEmail">
        update change_password_tb
        set
            status = if(status = 0, 1, 0)
        where
            email = #{email}
    </update>

    <select id="findByEmail" resultType="com.project.doctor_fish_back.entity.ChangePassword">
        select
            id,
            email,
            status
        from
            change_password_tb
        where
            email = #{email}
    </select>

    <select id="findByUserId" resultType="com.project.doctor_fish_back.entity.ChangePassword">
        select
            cpt.id,
            cpt.email,
            cpt.status
        from
            change_password_tb cpt
            left outer join user_tb ut on(cpt.email = ut.email)
        where
            ut.id = #{userId}
    </select>

</mapper>