<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doctor_fish_back.repository.admin.AdminCommentMapper">

    <insert id="save">
        insert into comment_tb
        values(default, #{reviewId}, #{userId}, #{content}, now(), now())
    </insert>

    <update id="modifyById">
        update comment_tb
        set
            content = #{content},
            update_date = now()
        where
            id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from
            comment_tb
        where
            id = #{id}
    </delete>

    <select id="findById" resultType="com.project.doctor_fish_back.entity.Comment">
        select
            ct.id,
            ct.review_id as reviewId,
            ct.user_id as userId,
            ct.content,
            ct.register_date as registerDate,
            ct.update_date as updateDate,
            ut.name as userName,
            ut.img as userImg
        from
            comment_tb ct
            left outer join user_tb ut on(ct.user_id = ut.id)
        where
            ct.id = #{id}
    </select>

    <select id="commentListByReviewId" resultType="com.project.doctor_fish_back.entity.Comment">
        select
            ct.id,
            ct.review_id as reviewId,
            ct.user_id as userId,
            ct.content,
            ct.register_date as registerDate,
            ct.update_date as updateDate,
            ut.name as userName,
            ut.img as userImg
        from
            comment_tb ct
            left outer join user_tb ut on(ct.user_id = ut.id)
        where
            review_id = #{reviewId}
        limit #{startIndex}, #{limit}
    </select>

    <select id="commentsCountByReviewId" resultType="java.lang.Long">
        select
            count(*)
        from
            comment_tb
        where
            review_id = #{reviewId}
    </select>

</mapper>