<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doctor_fish_back.repository.admin.AdminDoctorMapper">

    <resultMap id="doctorResultMap" type="com.project.doctor_fish_back.entity.Doctor">
        <id property="id" column="dot_id" />
        <result property="userId" column="user_id" />
        <result property="departId" column="depart_id" />
        <result property="comment" column="comment" />
        <result property="record" column="record" />
        <association property="user" resultMap="userResultMap" />
        <association property="depart" resultMap="departResultMap" />
    </resultMap>

    <resultMap id="userResultMap" type="com.project.doctor_fish_back.entity.User">
        <id property="id" column="ut_id" />
        <result property="email" column="email" />
        <result property="name" column="ut_name" />
        <result property="password" column="password" />
        <result property="phoneNumber" column="phone_number" />
        <result property="img" column="img" />
        <result property="emailValid" column="email_valid" />
        <result property="registerDate" column="register_date" />
        <result property="updateDate" column="update_date" />
    </resultMap>

    <resultMap id="departResultMap" type="com.project.doctor_fish_back.entity.Depart">
        <id property="id" column="det_id" />
        <result property="name" column="det_name" />
    </resultMap>

    <insert id="save">
        insert into doctor_tb
        values(default, #{userId}, #{departId}, #{comment}, #{record})
    </insert>

    <update id="modify">
        update doctor_tb
        set
            comment = #{comment},
            record = #{record}
        where
            id = #{id}
    </update>

    <select id="findById" resultMap="doctorResultMap">
        select
            dot.id as dot_id,
            dot.user_id,
            dot.depart_id,
            dot.comment,
            dot.record,
            ut.id as ut_id,
            ut.email,
            ut.name as ut_name,
            ut.password,
            ut.phone_number,
            ut.img,
            ut.email_valid,
            ut.register_date,
            ut.update_date,
            det.id as det_id,
            det.name as det_name
        from
            doctor_tb dot
            left outer join user_tb ut on(dot.user_id = ut.id)
            left outer join depart_tb det on(dot.depart_id = det.id)
        where
            dot.id = #{id}
    </select>

    <select id="findByUserId" resultMap="doctorResultMap">
        select
            dot.id as dot_id,
            dot.user_id,
            dot.depart_id,
            dot.comment,
            dot.record,
            ut.id as ut_id,
            ut.email,
            ut.name as ut_name,
            ut.password,
            ut.phone_number,
            ut.img,
            ut.email_valid,
            ut.register_date,
            ut.update_date,
            det.id as det_id,
            det.name as det_name
        from
            doctor_tb dot
            left outer join user_tb ut on(dot.user_id = ut.id)
            left outer join depart_tb det on(dot.depart_id = det.id)
        where
            dot.user_id = #{userId}
    </select>

</mapper>