<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doctor_fish_back.repository.admin.AdminLeaveMapper">

    <insert id="save">
        insert into leave_tb
        values(default, #{userId}, default, #{reason}, #{leaveDate}, #{endDate}, now(), now())
    </insert>

    <update id="modify">
        update leave_tb
        set
            leave_date = #{leaveDate},
            end_date = #{endDate},
            update_date = now()
        where
            id = #{id}
    </update>

    <update id="acceptById">
        update leave_tb
        set
            status = 2
        where
            id = #{id}
    </update>

    <update id="cancelById">
        update leave_tb
        set
            status = 3
        where
            id = #{id}
    </update>

    <delete id="deleteById">
        delete
        from
            leave_tb
        where
            id = #{id}
    </delete>

    <select id="findById" resultType="com.project.doctor_fish_back.entity.Leave">
        select
            lt.id,
            lt.user_id as userId,
            lt.status,
            lt.leave_date as leaveDate,
            lt.end_date as endDate,
            lt.register_date as registerDate,
            lt.update_date as updateDate,
            ut.name as userName,
            ut.img as userImg,
            dpt.name as departName
        from
            leave_tb lt
            left outer join user_tb ut on(lt.user_id = ut.id)
            left outer join doctor_tb dt on(ut.id = dt.user_id)
            left outer join depart_tb dpt on(dt.depart_id = dpt.id)
        where
            lt.id = #{id}
    </select>

    <select id="leaveListByUserId" resultType="com.project.doctor_fish_back.entity.Leave">
        select
            id,
            user_id as userId,
            reason,
            status,
            leave_date as leaveDate,
            end_date as endDate,
            register_date as registerDate,
            update_date as updateDate
        from
            leave_tb
        where
            user_id = #{userId}
        order by
            registerDate desc
        limit #{startIndex}, #{limit}
    </select>

    <select id="leavesCountByUserId" resultType="java.lang.Long">
        select
            count(*)
        from
            leave_tb
        where
            user_id = #{userId}
    </select>

    <select id="leaveList" resultType="com.project.doctor_fish_back.entity.Leave">
        select
            lt.id,
            lt.user_id as userId,
            lt.status,
            lt.reason,
            lt.leave_date as leaveDate,
            lt.end_date as endDate,
            lt.register_date as registerDate,
            lt.update_date as updateDate,
            ut.name as userName,
            ut.img as userImg
        from
            leave_tb lt
            left outer join user_tb ut on(lt.user_id = ut.id)
        order by
            registerDate desc
        limit #{startIndex}, #{limit}
    </select>

    <select id="leavesCount" resultType="java.lang.Long">
        select
            count(*)
        from
            leave_tb
    </select>



</mapper>