<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doctor_fish_back.repository.user.UserPasswordMapper">

    <insert id="save">
        insert into password_tb
        values(default, #{email}, default)
    </insert>

    <update id="modifyStatusByEmail">
        update password_tb
        set
            status = 1
        where
            email = #{email}
    </update>

    <delete id="deleteByEmail">
        delete
        from
            password_tb
        where
            email = #{email}
    </delete>

    <select id="findByEmail" resultType="com.project.doctor_fish_back.entity.Password">
        select
            id,
            email,
            status
        from
            password_tb
        where
            email = #{email}
    </select>
</mapper>