<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.doctor_fish_back.repository.user.UserAlarmMapper">

    <insert id="save">
        insert into alarm_check_tb
        values(default, #{userId}, #{alarmInsertId})
    </insert>

    <select id="alarmList" resultType="com.project.doctor_fish_back.entity.AlarmInsert">
        select
            ait.id as id,
            ait.type_id as typeId,
            ait.alarm_id as alarmId,
            ait.message_id as messageId,
            mt.message as message
        from
            alarm_insert_tb ait
            left outer join alarm_check_tb act on(ait.id = act.alarm_insert_id)
            left outer join message_tb mt on(ait.message_id = mt.id)
        where
            act.user_id is null and ait.type_id = 2

        union all

        select
            ait.id as id,
            ait.type_id as typeId,
            ait.alarm_id as alarmId,
            ait.message_id as messageId,
            mt.message as message
        from
            alarm_insert_tb ait
            left outer join alarm_check_tb act on(ait.id = act.alarm_insert_id)
            left outer join reservation_tb rt on(rt.id = ait.alarm_id)
            left outer join message_tb mt on(ait.message_id = mt.id)
        where
            act.user_id is null and ait.type_id = 1 and rt.user_id = #{userId}

<!--        select-->
<!--            ait.id as id,-->
<!--            ait.type_id as typeId,-->
<!--            ait.alarm_id as alarmId,-->
<!--            ait.message_id as messageId,-->
<!--            mt.message as message-->
<!--        from-->
<!--            alarm_insert_tb ait-->
<!--            left outer join reservation_tb rt on(ait.type_id = 1 and ait.alarm_id = rt.id)-->
<!--            left outer join alarm_check_tb act on(ait.id = act.alarm_insert_id and act.user_id = 6)-->
<!--            left outer join message_tb mt on(ait.message_id = mt.id)-->
<!--        where-->
<!--            act.user_id is null-->
<!--            and ((ait.type_id = 1 and rt.user_id = 6) or (ait.type_id = 2 and rt.user_id is null))-->
    </select>

</mapper>